<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.user.mapper.UserMapper">

    <select id="selectUsersByNickname" resultType="com.bilibili.search.model.vo.UserSearchVO">
        SELECT
            u.id AS uid,
            ui.nickname AS nickname,
            ui.avatar_url AS avatar,
            ui.sign AS sign,
            u.create_time AS createTime
        FROM t_user u
        INNER JOIN t_user_info ui ON ui.user_id = u.id
        WHERE u.status = 0
          AND ui.nickname LIKE CONCAT('%', #{nickname}, '%')
        <choose>
            <when test="desc">
                ORDER BY u.create_time DESC, u.id DESC
            </when>
            <otherwise>
                ORDER BY u.create_time ASC, u.id ASC
            </otherwise>
        </choose>
    </select>

</mapper>
